.admin-wrapper {
    margin: 40px 0;
}

#admin-diy{
    margin: 0 0 0 10px;
}

#admin-diy h2 {
    margin: 10px 0;
    font-size: 1.3em;
}

.type-form label, .type-form input {
    margin: 5px 0;
}

ul ul {
    list-style-type: circle;
    margin-left: 20px;
}