body {
  background: transparent url(/static/images/articles-bg.png);
  color: #5e5e5e;
}

.bottom-footer {
  background-color: #3E3E3E;
}

.articles-header {
  margin-bottom: 24px;
  width: 400px;
  color: #323232;
  padding-top: 1px;
}

.articles-header hgroup {
  height: 50px;
  margin-top: 30px;
  background: transparent url(/static/images/article-logo.png) no-repeat;
  font-size: 0;
}

.articles-header hgroup h1 {
  text-indent: -99em;
  display: inline-block;
}

.articles-header hgroup h2 {
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
  width: 100%;
  text-align: right;
  line-height: 50px;
}

#all-info {
  color: #323232;
  font-size: 16px;
  margin-top: 18px;
}

#all-info a {
  display: inline-block;
  margin-left: 30px;
  color: #ab5937;
}

.list-wrapper {
  width: 720px;
  float: left;
}

.a-brief, .a-complete, .w-complete {
  width: 100%;
  height: 160px;
  overflow: hidden;
  margin-bottom: 25px;
  border-bottom: 1px dashed #e4e4e4;
  position: relative;
}

.a-brief time, .a-complete time, .w-complete time {
  position: absolute;
  width: 60px;
  height: 71px;
  padding-top: 15px;
  background: transparent url(/static/images/article-time.png) no-repeat;
  color: #e0e0e0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.a-brief .time-date, .a-complete .time-date, .w-complete .time-date {
  font-size: 18px;
}

.a-complete, .w-complete {
  height: auto;
  padding-bottom: 20px;
}

.a-detail {
  margin-left: 80px;
}

.a-detail .a-title {
  font-size: 18px;
  line-height: 45px;
}

.a-detail .a-title:hover {
  color: #000;
}

.a-complete .a-title, .w-complete .a-title {
  font-size: 21px;
  line-height: 3;
  color: #3E3E3E;
}

.a-label, .w-label {
  font-size: 13px;
}

.a-label span, .w-label span {
  color: #bababa;
}

.a-brief-text p, .a-brief-text ul, .a-brief-text ol {
  text-indent: 2em;
}

.a-brief-text em {
  display: block;
  font-weight: bold;
  font-style: normal;
}

.a-text {
  text-align: center;
}

.a-text p, .a-text ul, .a-text ol {
  text-indent: 2em;
  line-height: 1.5;
  margin-bottom: 5px;
  text-align: left;
}

.a-text h1 {
  line-height: 2;
  margin-top: 10px;
  text-align: left;
}

.a-text a {
  color: #4a9dd9;
  border-bottom: 1px dashed #C9DFFB;
}

.a-text .demo {
  display: inline-block;
  width: 60px;
  background-color: #4a9dd9;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 1.8;
  border: 1px dashed #fff;
}

.a-text .demo:hover {
  background-color: #C9DFFB;
}

.a-text code {
  display: block;
  white-space: pre-wrap;
  color: #999;
  text-align: left;
  margin: 10px 35px;
}

.a-text img {
  max-width: 100%;
  border: 3px solid #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  margin: 8px 0;
}

.a-text blockquote {
  font-style: italic;
  font-size: 13px;
  text-align: left;
  color: #3E3E3E;
}

.read-detail {
  color: #499e8d;
  display: inline-block;
}

.read-info {
  font-size: 13px;
  position: absolute;
  bottom: 10px;
  color: #9da09e;
}

.read-info span {
  color: #5e5e5e;
}

.admin-edit {
  position: absolute;
  top: 10px;
  right: 0px;
  color: #ab5937;
}

aside {
  width: 180px;
  float: right;
}

aside h1 {
  background: transparent url(/static/images/title-bg.png) repeat-x;
  color: #999999;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 27px;
}

aside h1 span {
  display: inline-block;
  background-color: #fff;
  margin-left: 30px;
  text-align: center;
  width: 40px;
}

aside section {
  margin-bottom: 50px;
}

.cata-single {
  font-size: 14px;
  border-bottom: 1px dashed #e5e5e5;
  line-height: 36px;
  margin-bottom: 8px;
  padding-left: 20px;
  list-style: none;
}

.cata-single a:hover {
  color: #999999;
}

.comment-title {
  font-size: 16px;
  color: #5e5e5e;
}

.comment-single {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.03);
  margin: 12px 0;
  padding: 10px 20px;
  position: relative;
  font-size: 13px;
}

.comment-single time {
  position: absolute;
  right: 20px;
  top: 10px;
}

.comment-single .admin-del {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: #ab5937;
}

.comm-name, .comment-single time {
  color: #9da09e;
}

.comm-name span, .comment-single time span {
  color: #499e8d;
}

.comm-text {
  text-indent: 2em;
  margin: 5px 0;
  line-height: 1.6;
}

.comm-form {
  color: #3E3E3E;
}

.comm-form fieldset {
  padding: 10px 10px 0px;
}

.comm-form #revname, .comm-form .artRContent {
  border: 1px solid #e5e5e5;
  color: #3E3E3E;
}

.comm-form #revname {
  height: 24px;
  width: 140px;
  padding: 0 10px;
  margin-left: 10px;
}

.comm-form .artRContent {
  display: block;
  width: 680px;
  padding: 10px;
  height: 80px;
  margin-top: 10px;
}

.comm-submit {
  width: 80px;
  height: 30px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(210, 86, 86, 0.8);
  color: #fff;
  border: none;
  margin: 10px auto 0;
  display: block;
  cursor: pointer;
}

.comm-submit:hover {
  background-color: #d25656;
}

.w-brief {
  padding-bottom: 20px;
  border-bottom: 1px dashed #dfdfdf;
  margin-bottom: 25px;
}

.w-info {
  width: 210px;
  float: left;
  text-align: center;
  position: relative;
}

.w-info h1 {
  line-height: 2.4;
}

.w-info p, .w-info ul, .w-info ol {
  line-height: 1.8;
  font-size: 15px;
}

.w-info .see-detail:hover {
  color: #4c9ed9;
}

.work-src {
  text-align: center;
  display: inline-block;
  background: transparent url(../images/wlink-bg.png) no-repeat center right;
  width: 90px;
  color: #d55355;
}

.work-src:hover {
  color: #4c9ed9;
  background-position: left;
}

.admin-edit {
  position: absolute;
  right: 0;
  top: 0;
}

.w-label {
  text-align: left;
}

.w-detail {
  float: right;
  text-align: right;
}

.w-detail img {
  max-width: 400px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  min-height: 180px;
  right: 0;
}

.w-detail a {
  display: block;
}

.w-complete .a-detail {
  margin: auto;
  width: auto;
}

.w-complete .a-text {
  margin-top: 10px;
}

.work-dur {
  font-size: 13px;
  margin-bottom: 5px;
  color: #999;
}