body, input, label, select, option, textarea, button, fieldset, legend {
    font: 14px Helvetica, Arial, "Microsoft Yahei", "微软雅黑", sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p, ul, ol {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: inside;
}

a {
    text-decoration: none;
    color: inherit;
}
  
ul.line li, ol.line li {
    list-style: none;
    display: inline-block;
}
  
.alarm {
    color: red;
}
  
.hidden {
    display: none;
}
  
.clearfix {
    zoom: 1;
}
  
.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    line-height: 0;
    visibility: hidden;
}
  
fieldset {
    border: none;
}
  
legend {
    display: none;
}
  
.main-container {
    margin-top: 30px;
}
  
.content-wrapper {
    width: 960px;
    margin: 53px auto 0;
}
  
.top-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: #3E3E3E;
    color: #c9dffb;
    line-height: 30px;
    z-index: 99;
}
  
.top-content {
    width: 960px;
    margin: 0 auto 0;
}

.top-logo {
    float: left;
}

.top-logo a.logo-pic {
    text-indent: -99em;
    width: 92px;
    height: 30px;
    display: inline-block;
    background: url("../images/logo_min.png") no-repeat;
}

.top-logo a.logo-pic:hover {
    background-position: 0 -30px;
}

.top-logo span {
    margin-left: 20px;
}
  
.top-links {
    float: right;
}

.top-links ul {
    float: right;
}

.top-links li {
    margin-left: 8px;
}
  
.bottom-footer {
    clear: both;
    height: 40px;
    line-height: 40px;
    background-color: #499e8d;
    text-align: center;
    margin-top: 30px;
}

.bottom-footer li {
    padding: 0 5px;
    color: #fff;
}
  
.pages {
    font-size: 15px;
    color: #9da09e;
    text-align: center;
}

.pages a {
    display: inline-block;
    padding: 0 5px;
    margin: 0 3px;
    line-height: 30px;
}

.pages a.able:hover {
    background-color: #3e3e3e;
    color: #d6d6d6;
}

.pages .cur {
    color: #5e5e5e;
    font-size: 18px;
}

.container {
    margin: 40px auto;
}