{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lilith - 个人主页</title>
    <meta name="keywords" content="个人主页,个人网站,设计,生活" />
    <meta name="description" content="展示、记录、收集学习和生活中的美好的点滴。" />
    <meta name="author" content="Lily_Vain" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="Shortcut Icon" href="/static/images/liv.ico" />
    <link href="/static/style/base.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/static/style/admin.css" rel="stylesheet" type="text/css" media="screen">
    <script src="/static/script/lib/modernizr.custom.js"></script>
</head>
{% endblock %}

{% extends "base.html" %}
{% block main %}
<div class="main-container">
    <div class="admin-wrapper clearfix">
        <section id="admin-diy">
            <h1>手工区</h1>
            <div>
                <h2>材料分类：</h2>
                {% for types in typetree %}
                <ul class="type-list">
                    <li>{{ types.typeName }} ({{types.id}})</li>
                    {% if types.children %}
                    <ul>
                        {% for type in types.children %}
                        <li>{{type.typeName}}  ({{type.id}})</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </ul>
                {% endfor %}
            </div>
            <div>
                <h2>添加分类：</h2>
                <form action="/diy/addtype" method="post" class="type-form">
                    <fieldset>
                        <legend>添加分类</legend>
                        <label for="typeName">分类名称：</label>
                        <input type="text" name="typeName" id="typeName"> <br>
                        <label for="parentId">上级分类：</label>
                        <input type="text" name="parentId" id="parentId"> <br>
                        <input type="submit" value="添加">
                    </fieldset>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock %}