{% extends "base.html" %}
{% block main %}
<div class="main-container">
    <div class="content-wrapper clearfix">
        <div class="articles-header">
            <hgroup>
                <h1>Lily's Lily</h1>
                <!-- <h2>——我的文章</h2> -->
            </hgroup>
            <p id="all-info">共 <span>{{count}}</span> 篇文章
            </p>
        </div>
        <div class="list-wrapper">
            {% for article in articles %}
            <article class="a-brief">
                <time datetime="2017-10-22">
                    <span class="time-date">12.05</span><br/>
                    <span>Dec.</span><br/>
                    <span>2014</span>
                </time>
                <div class="a-detail">
                    <div class="a-label">Tag: &nbsp;<span>{{article.tags}}</span></div>
                    <h1 class="a-title"><a href="/article/{{article.id}}">{{article.title}}</a></h1>
                    <div class="a-brief-text">
                        <p>
                            {{article.abbr}}
                            <a href="/article/{{article.id}}" class="read-detail">（阅读全文）</a></p>
                    </div>
                    <div class="read-info">
                        <p>阅读 <span>3</span> 次 | 评论 <span>0</span> 次</p>
                    </div>

                </div>
            </article>
            {% endfor %}
            <div class="pages">

                <a  onclick='return false'>当前页：<span class='cur'>{{page_now}}</span>/{{page_all}}页</a>
                {% if page_now !== 1 %}
                <a href='/article?page={{page_now-1}}' class='able'>上一页</a>
                {% endif %}
                {% if page_now !== page_all %}
                <a href='/article?page={{page_now+1}}' class='able'>下一页</a>
                {% endif %}
                <a href='/article?page={{page_all}}' class='able'>尾页</a>
            </div>
        </div><!-- div.list-wrapper -->

        <aside>
            <section>
                <h1><span>导航</span></h1>
                <ul>
                    <li class="cata-single"><a href="/">首页</a></li>
                    <li class="cata-single"><a href="/article">文章</a></li>
                    <li class="cata-single"><a href="/works">作品</a></li>
                </ul>
            </section>
            <section>
                <h1><span>分类</span></h1>
                <ul>
                    <li class="cata-single"><a href="">编程</a></li>
                    <li class="cata-single"><a href="">手工</a></li>
                    <li class="cata-single"><a href="">绘画</a></li>
                </ul>
            </section>
        </aside>
    </div><!-- div.content-wrapper -->
</div><!-- div.main-container -->
{% endblock %}