{% block head %} {% endblock %}
<body>
    <footer class="top-fixed">
        <div class="top-content clearfix">
            <div class="top-logo">
                <a href="/" class="logo-pic">Lilith</a>
            </div>
            <div class="top-links">
                <span>常用链接：</span>
                <ul class="line"></ul>
                    <!--<li><a href="http://backup.se.sjtu.edu.cn/elearning/login.asp" title="e-Learning platform" target="_blank">e-l</a></li>-->
                </ul>
            </div>
        </div>
    </footer>
    
    {% block main %} {% endblock %}
    <footer class="bottom-footer">
        <div class="container">
            <ul class="line">
                <li>Copyright &copy; 2012-2024</li>
                <li><a href="">联系我</a></li>
                <li><a target="_blank" href="https://github.com/Lilith0203/">GitHub</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>