<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lilith - 个人主页</title>
    <meta name="keywords" content="个人主页,个人网站,设计,生活" />
    <meta name="description" content="展示、记录、收集学习和生活中的美好的点滴。" />
    <meta name="author" content="Lily_Vain" />
    <link rel="Shortcut Icon" href="/static/images/liv.ico" />
    <link href="/static/style/index.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/static/style/article.css" rel="stylesheet" type="text/css" media="screen">
    <script src="static/script/lib/modernizr.custom.js"></script>
</head>

<body>
    <footer class="top-fixed">
        <div class="top-content clearfix">
            <div class="top-logo">
                <a href="/" class="logo-pic">Lilith</a>
            </div>
            <div class="top-links">
                <span>常用链接：</span>
                <ul class="line"></ul>
                    <!--<li><a href="http://backup.se.sjtu.edu.cn/elearning/login.asp" title="e-Learning platform" target="_blank">e-l</a></li>-->
                </ul>
            </div>
        </div>
    </footer>
    
    {% block main %} {% endblock %}
    <footer class="bottom-footer">
        <div class="container">
            <ul class="line">
                <li>Copyright &copy; 2012-2024</li>
                <li><a href="">联系我</a></li>
                <li><a target="_blank" href="https://github.com/Lilith0203/">GitHub</a></li>
            </ul>
        </div>
    </footer>
    <script src="static/script/lib/sea.js"></script>
    <script>
        seajs.config({
            paths: './static/script/lib/',
            alias:{
                "util": "util"
            }
        });
        seajs.use("./static/script/dist/main");
    </script>
</body>

</html>