{% extends "base.html" %}
{% block main %}
<div class="main-container">
    <div id="up-area">
        <div id="upArea-content">
            <header id="i-logo">
                <hgroup>
                    <h1>Lily's Lily</h1>
                    <!-- <h2>写给自己用的网站</h2> -->
                </hgroup>
                <div id="person_info">
                    <p>欢迎关注：
            		<span id="weixin-button">
                		<!--<img src="static/images/weixin-ewm.png" class="hidden"/>-->
            		</span>
                    </p>
                </div>
            </header>

        </div>
    </div>

    <div class="content-wrapper">
        <article id="article-list">
            <div id="alist-title"><h1><a href="article" title="文章">文</a></h1></div>
            <a href="article" class="alist-more">More</a>

            <section class="a-title">
                <h1><a href="article/201710220">JVM</a></h1>
                <time datetime="2017-10-22">2017-10-22</time>
            </section>

            <section class="a-title">
                <h1><a href="article/201710210">从MVC到SHH</a></h1>
                <time datetime="2017-10-21">2017-10-21</time>
            </section>

            <section class="a-title">
                <h1><a href="article/201710190">面向对象编程</a></h1>
                <time datetime="2017-10-19">2017-10-19</time>
            </section>

        </article>
    </div><!-- div.content-wrapper -->
</div><!-- div.main-container -->
{% endblock %}