<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lilith - 个人主页</title>
    <meta name="keywords" content="个人主页,个人网站,设计,生活" />
    <meta name="description" content="展示、记录、收集学习和生活中的美好的点滴。" />
    <meta name="author" content="Lily_Vain" />
    <link rel="Shortcut Icon" href="liv.ico" />
    <link href="/static/style/index.css" rel="stylesheet" type="text/css" media="screen">
</head>
<body>

<footer class="top-fixed">
    <div class="top-content clearfix">
        <div class="top-logo">
            <a href="#" class="logo-pic">Lilith</a>
        </div>
        <div class="top-links">
            <span>常用链接：</span>
            <ul class="line"></ul>
                <!--<li><a href="http://backup.se.sjtu.edu.cn/elearning/login.asp" title="e-Learning platform" target="_blank">e-l</a></li>-->
            </ul>
        </div>
    </div>
</footer>

<div class="main-container">
    <div id="up-area">
        <div id="upArea-content">
            <header id="i-logo">
                <hgroup>
                    <h1>Lily's Lily</h1>
                    <!-- <h2>写给自己用的网站</h2> -->
                </hgroup>
                <div id="person_info">
                    <p>欢迎关注：
            		<span id="weixin-button">
                		<!--<img src="static/images/weixin-ewm.png" class="hidden"/>-->
            		</span>
                    </p>
                </div>
            </header>

        </div>
    </div>

    <div class="content-wrapper">
        <article id="article-list">
            <div id="alist-title"><h1><a href="article" title="文章">文</a></h1></div>
            <a href="article" class="alist-more">More</a>

            <section class="a-title">
                <h1><a href="article/201710220">JVM</a></h1>
                <time datetime="2017-10-22">2017-10-22</time>
            </section>

            <section class="a-title">
                <h1><a href="article/201710210">从MVC到SHH</a></h1>
                <time datetime="2017-10-21">2017-10-21</time>
            </section>

            <section class="a-title">
                <h1><a href="article/201710190">面向对象编程</a></h1>
                <time datetime="2017-10-19">2017-10-19</time>
            </section>

        </article>


        <article id="work-list">
            <h1 id="work-title"><a href="works" title="作品">工</a></h1>
            <a href="works" class="alist-more">More</a>
        </article>

    </div><!-- div.content-wrapper -->
</div><!-- div.main-container -->



<footer class="bottom-footer">
    <ul class="line">
        <li>Copyright &copy; 2012-2024</li>
        <li><a href="">联系我</a></li>
    </ul>
</footer>

</body>
</html>