{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lilith - 个人主页</title>
    <meta name="keywords" content="个人主页,个人网站,设计,生活" />
    <meta name="description" content="展示、记录、收集学习和生活中的美好的点滴。" />
    <meta name="author" content="Lily_Vain" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="Shortcut Icon" href="/static/images/liv.ico" />
    <link href="/static/style/base.css" rel="stylesheet" type="text/css" media="screen">
    <script src="/static/script/lib/modernizr.custom.js"></script>
</head>
{% endblock %}

{% extends "base.html" %}
{% block main %}
<div class="container">
    <form action="/signin" method="post">
        <div class="form-group">
            <label>Name:</label>
            <input type="text" name="name" value="admin" class="form-control"
                placeholder="name">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" value="" class="form-control"
                placeholder="Password">
        </div>
        <button type="submit" class="btn">Sign In</button>
    </form>
</div>
{% endblock %}